var tagsToReplace = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;'
};

function replaceTag(tag) {
    return tagsToReplace[tag] || tag;
}

function safe_tags_replace(str) {
    return str.replace(/[&<>]/g, replaceTag);
}
div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    font-family: "Times New Roman";
    font-weight:bold;
    color: navy;
    background-image:url("goo.gl/Zuz1jz");
    border: 5px inset black;
    clear: left;
    text-align: center;
    text-decoration: underline;


.tableStyle{
  font-family: Monospace;
  text-align: center;
  border: 3px solid black;
  color: red;
  border-collapse: collapse;
}

.tableStyle th, td{
    border: 3px solid red;
    color: black;
}

.bodyStyle{
  font-family: Sans-Serif;
  color: black;
}

.bodyStyle p{
  font-family: Serif;
}

.bgColor{
  background-color:green;
}
.header h1{
  font-family: Verdana;
  color:green;
  
}
