header, footer {
    padding: 1em;
    font-family: "Trebuchet ";
    font-weight:bold;
    color: navy;
    background-color:lightgreen;
    border: 5px inset black;
    clear: left;
    text-align: center;
    text-decoration: underline;
}
h1 {
  font-family:"Times New Roman";
  padding:1em;
  border: 5px solid black;
  background-image:url("https://media2.s-nbcnews.com/i/newscms/2017_24/1220911/french-fries-today-170612-tease_327fa4cb97be2176facc040734d6ae93.jpg");
}

p1 {
  font-family: "Arial";
  color:red;
  font-size:18px;
}
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
#activepage {
    background-color: #4CAF50;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
.tablestyle2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: yellow;
  color: black;
  border:12px;
  border-color:black;
  
}
.tablestyle2 td {
  border: 1px solid black;
  padding: 8px;
  }
#css {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#css td, #css th {
    border: 1pxd #ddd;
    padding: 8p
}

#css tr:nth-chien){background-color: #f2f2f2;}

#css tr:hover {round-color: #ddd;}

#css th {
    padding-topx;
    padding-bot12px;
    text-align:;
    background-color: darkblue;
    color: white;
}


